body{
	background-color:#fdfbf9;
	margin:0;
    box-sizing: border-box;
}

p{
    color:#74695d;
    font-family: "Lucida Sans", sans-serif;
    font-size:20px;
    font-weight:bold;
    text-align:left;
}

img{
    padding: 3px;
}

#border{
	border-right: 1px solid #ddd;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.header {
    background-color:#fdfbf9;
    padding-left: 25px;
}

.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 3%;
    text-align: center;
    padding: 4px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;

}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #d4753b;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #000;
}
.aside {
    padding: 15px;
    color: #555;
    text-align: center;
    font-size: 14px;
    border-left: 1px solid #8d8c8c;
}

.footer {
    background-color: #555;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
